//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 10 17:53:28 2013
//! **************************************************************************

SCHEMATIC START;
COMP "hs" LOCATE = SITE "N6" LEVEL 1;
COMP "vs" LOCATE = SITE "P7" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
PIN rst_pin<0> = BEL "rst" PINNAME PAD;
PIN "rst_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "blue<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "red<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "red<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "red<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "green<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "green<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "green<2>" LOCATE = SITE "V6" LEVEL 1;
PIN dcm_inst/clkout6_buf_pin<2> = BEL "dcm_inst/clkout6_buf" PINNAME O;
PIN "dcm_inst/clkout6_buf_pin<2>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN fft_core_inst/blk000000cd_pins<92> = BEL "fft_core_inst/blk000000cd"
        PINNAME CLK;
PIN fft_core_inst/blk000000ce_pins<92> = BEL "fft_core_inst/blk000000ce"
        PINNAME CLK;
PIN fft_core_inst/blk000000cf_pins<92> = BEL "fft_core_inst/blk000000cf"
        PINNAME CLK;
PIN fft_core_inst/blk000000d0_pins<92> = BEL "fft_core_inst/blk000000d0"
        PINNAME CLK;
PIN fft_core_inst/blk000000d1_pins<92> = BEL "fft_core_inst/blk000000d1"
        PINNAME CLK;
PIN fft_core_inst/blk000000d2_pins<92> = BEL "fft_core_inst/blk000000d2"
        PINNAME CLK;
PIN fft_core_inst/blk000000d3_pins<92> = BEL "fft_core_inst/blk000000d3"
        PINNAME CLK;
PIN fft_core_inst/blk000000d4_pins<92> = BEL "fft_core_inst/blk000000d4"
        PINNAME CLK;
PIN fft_core_inst/blk000000d5_pins<92> = BEL "fft_core_inst/blk000000d5"
        PINNAME CLK;
PIN fft_core_inst/blk000000d6_pins<92> = BEL "fft_core_inst/blk000000d6"
        PINNAME CLK;
PIN fft_core_inst/blk000000d7_pins<92> = BEL "fft_core_inst/blk000000d7"
        PINNAME CLK;
PIN fft_core_inst/blk000000d8_pins<92> = BEL "fft_core_inst/blk000000d8"
        PINNAME CLK;
PIN fft_core_inst/blk000002c7_pins<92> = BEL "fft_core_inst/blk000002c7"
        PINNAME CLK;
PIN fft_core_inst/blk000002c8_pins<92> = BEL "fft_core_inst/blk000002c8"
        PINNAME CLK;
PIN fft_core_inst/blk000002c9_pins<92> = BEL "fft_core_inst/blk000002c9"
        PINNAME CLK;
PIN fft_core_inst/blk000002ca_pins<92> = BEL "fft_core_inst/blk000002ca"
        PINNAME CLK;
PIN fft_core_inst/blk000002cb_pins<92> = BEL "fft_core_inst/blk000002cb"
        PINNAME CLK;
PIN fft_core_inst/blk000002cc_pins<92> = BEL "fft_core_inst/blk000002cc"
        PINNAME CLK;
PIN fft_core_inst/blk000002cd_pins<92> = BEL "fft_core_inst/blk000002cd"
        PINNAME CLK;
PIN fft_core_inst/blk000002ce_pins<92> = BEL "fft_core_inst/blk000002ce"
        PINNAME CLK;
PIN fft_core_inst/blk0000044a/blk0000045c_pins<26> = BEL
        "fft_core_inst/blk0000044a/blk0000045c" PINNAME CLKAWRCLK;
PIN fft_core_inst/blk0000044a/blk0000045c_pins<27> = BEL
        "fft_core_inst/blk0000044a/blk0000045c" PINNAME CLKBRDCLK;
PIN fft_core_inst/blk0000045d/blk0000046f_pins<26> = BEL
        "fft_core_inst/blk0000045d/blk0000046f" PINNAME CLKAWRCLK;
PIN fft_core_inst/blk0000045d/blk0000046f_pins<27> = BEL
        "fft_core_inst/blk0000045d/blk0000046f" PINNAME CLKBRDCLK;
PIN fft_core_inst/blk00000470/blk00000482_pins<26> = BEL
        "fft_core_inst/blk00000470/blk00000482" PINNAME CLKAWRCLK;
PIN fft_core_inst/blk00000470/blk00000482_pins<27> = BEL
        "fft_core_inst/blk00000470/blk00000482" PINNAME CLKBRDCLK;
PIN fft_core_inst/blk00000483/blk00000495_pins<26> = BEL
        "fft_core_inst/blk00000483/blk00000495" PINNAME CLKAWRCLK;
PIN fft_core_inst/blk00000483/blk00000495_pins<27> = BEL
        "fft_core_inst/blk00000483/blk00000495" PINNAME CLKBRDCLK;
PIN fft_core_inst/blk00000849_pins<20> = BEL "fft_core_inst/blk00000849"
        PINNAME CLKAWRCLK;
PIN fft_core_inst/blk00000849_pins<21> = BEL "fft_core_inst/blk00000849"
        PINNAME CLKBRDCLK;
PIN fft_core_inst/blk0000084a_pins<20> = BEL "fft_core_inst/blk0000084a"
        PINNAME CLKAWRCLK;
PIN fft_core_inst/blk0000084a_pins<21> = BEL "fft_core_inst/blk0000084a"
        PINNAME CLKBRDCLK;
PIN fft_core_inst/blk0000084b_pins<20> = BEL "fft_core_inst/blk0000084b"
        PINNAME CLKAWRCLK;
PIN fft_core_inst/blk0000084b_pins<21> = BEL "fft_core_inst/blk0000084b"
        PINNAME CLKBRDCLK;
PIN multiplier_inst/blk00000001/blk00000004_pins<92> = BEL
        "multiplier_inst/blk00000001/blk00000004" PINNAME CLK;
TIMEGRP dcm_inst_clkout0 = BEL "dds_we" BEL "dds_clk" BEL "mag_pos_0" BEL
        "mag_pos_1" BEL "mag_pos_2" BEL "mag_pos_3" BEL "mag_pos_4" BEL
        "mag_pos_5" BEL "mag_pos_6" BEL "mag_pos_7" BEL "mult_a_0" BEL
        "mult_a_1" BEL "mult_a_2" BEL "mult_a_3" BEL "mult_a_4" BEL "mult_a_5"
        BEL "mult_a_6" BEL "mult_a_7" BEL "mult_b_0" BEL "mult_b_1" BEL
        "mult_b_2" BEL "mult_b_3" BEL "mult_b_4" BEL "mult_b_5" BEL "mult_b_6"
        BEL "mult_b_7" BEL "sqrt_in_0" BEL "sqrt_in_1" BEL "sqrt_in_2" BEL
        "sqrt_in_3" BEL "sqrt_in_4" BEL "sqrt_in_5" BEL "sqrt_in_6" BEL
        "sqrt_in_7" BEL "sqrt_in_8" BEL "sqrt_in_9" BEL "sqrt_in_10" BEL
        "sqrt_in_11" BEL "sqrt_in_12" BEL "sqrt_in_13" BEL "sqrt_in_14" BEL
        "sqrt_in_15" BEL "mag_state_FSM_FFd2" BEL "mag_state_FSM_FFd1" BEL
        "counter2_0" BEL "counter2_1" BEL "counter2_2" BEL "counter2_3" BEL
        "counter2_4" BEL "counter2_5" BEL "counter2_6" BEL "counter2_7" BEL
        "counter2_8" BEL "counter2_9" BEL "counter2_10" BEL "counter2_11" BEL
        "counter2_12" BEL "counter2_13" BEL "counter2_14" BEL "counter2_15"
        BEL "counter2_16" BEL "counter2_17" BEL "counter2_18" BEL
        "counter2_19" BEL "counter2_20" BEL "counter2_21" BEL "counter2_22"
        BEL "counter2_23" BEL "counter2_24" BEL "counter2_25" BEL
        "counter2_26" BEL "counter_0" BEL "dds_data_0" BEL "dds_data_1" BEL
        "dds_data_2" BEL "dds_data_3" BEL "dds_data_4" BEL "dds_data_5" BEL
        "dds_data_6" BEL "dds_data_7" BEL "fft_state_FSM_FFd2" BEL
        "fft_state_FSM_FFd1" BEL "master_state_FSM_FFd2" BEL
        "master_state_FSM_FFd1" BEL "dcm_inst/clkout1_buf" BEL "fft_ce" BEL
        "adc_ram_in_we_0" BEL "fft_start" BEL "fft_ram_in_en" BEL
        "fft_ram_out_en" BEL "adc_state" BEL "fft_core_inst/blk00000058" BEL
        "fft_core_inst/blk00000059" BEL "fft_core_inst/blk0000005a" BEL
        "fft_core_inst/blk0000005b" BEL "fft_core_inst/blk0000005c" BEL
        "fft_core_inst/blk0000005d" BEL "fft_core_inst/blk0000005e" BEL
        "fft_core_inst/blk0000005f" BEL "fft_core_inst/blk00000060" BEL
        "fft_core_inst/blk00000061" BEL "fft_core_inst/blk00000062" BEL
        "fft_core_inst/blk00000063" BEL "fft_core_inst/blk00000064" BEL
        "fft_core_inst/blk00000065" BEL "fft_core_inst/blk00000066" BEL
        "fft_core_inst/blk00000067" BEL "fft_core_inst/blk00000068" BEL
        "fft_core_inst/blk00000069" BEL "fft_core_inst/blk0000006a" BEL
        "fft_core_inst/blk0000006b" BEL "fft_core_inst/blk0000006c" BEL
        "fft_core_inst/blk0000006d" BEL "fft_core_inst/blk0000006e" BEL
        "fft_core_inst/blk0000006f" BEL "fft_core_inst/blk00000070" BEL
        "fft_core_inst/blk00000071" BEL "fft_core_inst/blk00000072" BEL
        "fft_core_inst/blk00000073" BEL "fft_core_inst/blk00000074" BEL
        "fft_core_inst/blk00000075" BEL "fft_core_inst/blk00000076" BEL
        "fft_core_inst/blk00000077" BEL "fft_core_inst/blk00000078" BEL
        "fft_core_inst/blk00000079" BEL "fft_core_inst/blk0000007a" BEL
        "fft_core_inst/blk0000007b" BEL "fft_core_inst/blk0000007c" BEL
        "fft_core_inst/blk0000007d" BEL "fft_core_inst/blk0000007e" BEL
        "fft_core_inst/blk0000007f" BEL "fft_core_inst/blk00000080" BEL
        "fft_core_inst/blk00000081" BEL "fft_core_inst/blk00000082" BEL
        "fft_core_inst/blk00000083" BEL "fft_core_inst/blk00000084" BEL
        "fft_core_inst/blk00000085" BEL "fft_core_inst/blk00000086" BEL
        "fft_core_inst/blk00000087" BEL "fft_core_inst/blk00000088" BEL
        "fft_core_inst/blk00000089" BEL "fft_core_inst/blk0000008a" BEL
        "fft_core_inst/blk0000008b" BEL "fft_core_inst/blk0000008c" BEL
        "fft_core_inst/blk0000008d" BEL "fft_core_inst/blk0000008e" BEL
        "fft_core_inst/blk0000008f" BEL "fft_core_inst/blk00000090" BEL
        "fft_core_inst/blk00000091" BEL "fft_core_inst/blk00000092" BEL
        "fft_core_inst/blk00000093" BEL "fft_core_inst/blk00000094" BEL
        "fft_core_inst/blk00000095" BEL "fft_core_inst/blk00000096" BEL
        "fft_core_inst/blk00000097" BEL "fft_core_inst/blk00000098" BEL
        "fft_core_inst/blk00000099" BEL "fft_core_inst/blk0000009a" BEL
        "fft_core_inst/blk0000009b" BEL "fft_core_inst/blk0000009c" BEL
        "fft_core_inst/blk0000009d" BEL "fft_core_inst/blk0000009e" BEL
        "fft_core_inst/blk0000009f" BEL "fft_core_inst/blk000000a0" BEL
        "fft_core_inst/blk000000a1" BEL "fft_core_inst/blk000000a2" BEL
        "fft_core_inst/blk000000a3" BEL "fft_core_inst/blk000000a4" BEL
        "fft_core_inst/blk000000a5" BEL "fft_core_inst/blk000000a6" BEL
        "fft_core_inst/blk000000a7" BEL "fft_core_inst/blk000000ad" BEL
        "fft_core_inst/blk000000ae" BEL "fft_core_inst/blk000000af" BEL
        "fft_core_inst/blk000000b0" BEL "fft_core_inst/blk000000b1" BEL
        "fft_core_inst/blk000000b2" BEL "fft_core_inst/blk000000b3" BEL
        "fft_core_inst/blk000000b4" BEL "fft_core_inst/blk000000b5" BEL
        "fft_core_inst/blk000000b6" BEL "fft_core_inst/blk000000b7" BEL
        "fft_core_inst/blk000000b8" BEL "fft_core_inst/blk000000b9" BEL
        "fft_core_inst/blk000000ba" BEL "fft_core_inst/blk000000bb" BEL
        "fft_core_inst/blk000000bc" BEL "fft_core_inst/blk000000bd" BEL
        "fft_core_inst/blk000000be" BEL "fft_core_inst/blk000000bf" BEL
        "fft_core_inst/blk000000c0" BEL "fft_core_inst/blk000000c1" BEL
        "fft_core_inst/blk000000c2" BEL "fft_core_inst/blk000000c3" BEL
        "fft_core_inst/blk000000c4" BEL "fft_core_inst/blk000000c5" BEL
        "fft_core_inst/blk000000c6" BEL "fft_core_inst/blk000000c7" BEL
        "fft_core_inst/blk000000c8" BEL "fft_core_inst/blk000000c9" BEL
        "fft_core_inst/blk000000ca" BEL "fft_core_inst/blk000000cb" BEL
        "fft_core_inst/blk000000cc" PIN "fft_core_inst/blk000000cd_pins<92>"
        PIN "fft_core_inst/blk000000ce_pins<92>" PIN
        "fft_core_inst/blk000000cf_pins<92>" PIN
        "fft_core_inst/blk000000d0_pins<92>" PIN
        "fft_core_inst/blk000000d1_pins<92>" PIN
        "fft_core_inst/blk000000d2_pins<92>" PIN
        "fft_core_inst/blk000000d3_pins<92>" PIN
        "fft_core_inst/blk000000d4_pins<92>" PIN
        "fft_core_inst/blk000000d5_pins<92>" PIN
        "fft_core_inst/blk000000d6_pins<92>" PIN
        "fft_core_inst/blk000000d7_pins<92>" PIN
        "fft_core_inst/blk000000d8_pins<92>" BEL "fft_core_inst/blk000000d9"
        BEL "fft_core_inst/blk000000da" BEL "fft_core_inst/blk000000db" BEL
        "fft_core_inst/blk000000dc" BEL "fft_core_inst/blk000000dd" BEL
        "fft_core_inst/blk000000de" BEL "fft_core_inst/blk000000df" BEL
        "fft_core_inst/blk000000e0" BEL "fft_core_inst/blk000000e1" BEL
        "fft_core_inst/blk000000e2" BEL "fft_core_inst/blk000000e3" BEL
        "fft_core_inst/blk000000e4" BEL "fft_core_inst/blk000000e5" BEL
        "fft_core_inst/blk000000e6" BEL "fft_core_inst/blk000000e7" BEL
        "fft_core_inst/blk000000e8" BEL "fft_core_inst/blk000000e9" BEL
        "fft_core_inst/blk000000ed" BEL "fft_core_inst/blk000000ee" BEL
        "fft_core_inst/blk000000ef" BEL "fft_core_inst/blk000000f0" BEL
        "fft_core_inst/blk000000f1" BEL "fft_core_inst/blk000000f2" BEL
        "fft_core_inst/blk000000f3" BEL "fft_core_inst/blk000000f4" BEL
        "fft_core_inst/blk000000f5" BEL "fft_core_inst/blk000000f6" BEL
        "fft_core_inst/blk000000f7" BEL "fft_core_inst/blk000000fb" BEL
        "fft_core_inst/blk000000fc" BEL "fft_core_inst/blk000000fd" BEL
        "fft_core_inst/blk000000fe" BEL "fft_core_inst/blk000000ff" BEL
        "fft_core_inst/blk00000100" BEL "fft_core_inst/blk00000101" BEL
        "fft_core_inst/blk00000102" BEL "fft_core_inst/blk00000103" BEL
        "fft_core_inst/blk00000104" BEL "fft_core_inst/blk00000105" BEL
        "fft_core_inst/blk00000109" BEL "fft_core_inst/blk0000010a" BEL
        "fft_core_inst/blk0000010b" BEL "fft_core_inst/blk0000010c" BEL
        "fft_core_inst/blk0000010d" BEL "fft_core_inst/blk0000010e" BEL
        "fft_core_inst/blk0000010f" BEL "fft_core_inst/blk00000110" BEL
        "fft_core_inst/blk00000111" BEL "fft_core_inst/blk00000112" BEL
        "fft_core_inst/blk00000113" BEL "fft_core_inst/blk00000117" BEL
        "fft_core_inst/blk00000118" BEL "fft_core_inst/blk00000119" BEL
        "fft_core_inst/blk0000011a" BEL "fft_core_inst/blk0000011b" BEL
        "fft_core_inst/blk0000011c" BEL "fft_core_inst/blk0000011d" BEL
        "fft_core_inst/blk0000011e" BEL "fft_core_inst/blk0000011f" BEL
        "fft_core_inst/blk00000120" BEL "fft_core_inst/blk00000121" BEL
        "fft_core_inst/blk00000125" BEL "fft_core_inst/blk00000126" BEL
        "fft_core_inst/blk00000127" BEL "fft_core_inst/blk00000128" BEL
        "fft_core_inst/blk00000129" BEL "fft_core_inst/blk0000012a" BEL
        "fft_core_inst/blk0000012b" BEL "fft_core_inst/blk0000012c" BEL
        "fft_core_inst/blk0000012d" BEL "fft_core_inst/blk0000012e" BEL
        "fft_core_inst/blk0000012f" BEL "fft_core_inst/blk00000133" BEL
        "fft_core_inst/blk00000134" BEL "fft_core_inst/blk00000135" BEL
        "fft_core_inst/blk00000136" BEL "fft_core_inst/blk00000137" BEL
        "fft_core_inst/blk00000138" BEL "fft_core_inst/blk00000139" BEL
        "fft_core_inst/blk0000013a" BEL "fft_core_inst/blk0000013b" BEL
        "fft_core_inst/blk0000013c" BEL "fft_core_inst/blk0000013d" BEL
        "fft_core_inst/blk00000141" BEL "fft_core_inst/blk00000142" BEL
        "fft_core_inst/blk00000143" BEL "fft_core_inst/blk00000144" BEL
        "fft_core_inst/blk00000145" BEL "fft_core_inst/blk00000146" BEL
        "fft_core_inst/blk00000147" BEL "fft_core_inst/blk00000148" BEL
        "fft_core_inst/blk00000149" BEL "fft_core_inst/blk0000014a" BEL
        "fft_core_inst/blk0000014b" BEL "fft_core_inst/blk0000014f" BEL
        "fft_core_inst/blk00000150" BEL "fft_core_inst/blk00000151" BEL
        "fft_core_inst/blk00000152" BEL "fft_core_inst/blk00000153" BEL
        "fft_core_inst/blk00000154" BEL "fft_core_inst/blk00000155" BEL
        "fft_core_inst/blk00000156" BEL "fft_core_inst/blk00000157" BEL
        "fft_core_inst/blk00000158" BEL "fft_core_inst/blk00000159" BEL
        "fft_core_inst/blk0000015a" BEL "fft_core_inst/blk0000015b" BEL
        "fft_core_inst/blk0000015c" BEL "fft_core_inst/blk0000015d" BEL
        "fft_core_inst/blk0000015e" BEL "fft_core_inst/blk0000015f" BEL
        "fft_core_inst/blk00000160" BEL "fft_core_inst/blk00000161" BEL
        "fft_core_inst/blk00000162" BEL "fft_core_inst/blk00000163" BEL
        "fft_core_inst/blk00000164" BEL "fft_core_inst/blk00000165" BEL
        "fft_core_inst/blk00000166" BEL "fft_core_inst/blk00000167" BEL
        "fft_core_inst/blk00000168" BEL "fft_core_inst/blk00000169" BEL
        "fft_core_inst/blk0000016a" BEL "fft_core_inst/blk0000016b" BEL
        "fft_core_inst/blk0000016c" BEL "fft_core_inst/blk0000016d" BEL
        "fft_core_inst/blk0000016e" BEL "fft_core_inst/blk0000016f" BEL
        "fft_core_inst/blk00000170" BEL "fft_core_inst/blk00000171" BEL
        "fft_core_inst/blk00000172" BEL "fft_core_inst/blk00000173" BEL
        "fft_core_inst/blk00000174" BEL "fft_core_inst/blk00000175" BEL
        "fft_core_inst/blk00000176" BEL "fft_core_inst/blk00000177" BEL
        "fft_core_inst/blk00000178" BEL "fft_core_inst/blk00000179" BEL
        "fft_core_inst/blk0000017a" BEL "fft_core_inst/blk0000017b" BEL
        "fft_core_inst/blk0000017c" BEL "fft_core_inst/blk0000017d" BEL
        "fft_core_inst/blk0000017e" BEL "fft_core_inst/blk0000017f" BEL
        "fft_core_inst/blk00000180" BEL "fft_core_inst/blk00000181" BEL
        "fft_core_inst/blk00000182" BEL "fft_core_inst/blk00000183" BEL
        "fft_core_inst/blk00000184" BEL "fft_core_inst/blk00000185" BEL
        "fft_core_inst/blk00000186" BEL "fft_core_inst/blk00000187" BEL
        "fft_core_inst/blk00000188" BEL "fft_core_inst/blk00000189" BEL
        "fft_core_inst/blk0000018a" BEL "fft_core_inst/blk0000018b" BEL
        "fft_core_inst/blk0000018c" BEL "fft_core_inst/blk0000018d" BEL
        "fft_core_inst/blk0000018e" BEL "fft_core_inst/blk0000018f" BEL
        "fft_core_inst/blk00000190" BEL "fft_core_inst/blk00000191" BEL
        "fft_core_inst/blk00000192" BEL "fft_core_inst/blk00000193" BEL
        "fft_core_inst/blk00000194" BEL "fft_core_inst/blk00000195" BEL
        "fft_core_inst/blk00000196" BEL "fft_core_inst/blk00000197" BEL
        "fft_core_inst/blk00000198" BEL "fft_core_inst/blk00000199" BEL
        "fft_core_inst/blk0000019a" BEL "fft_core_inst/blk0000019b" BEL
        "fft_core_inst/blk0000019c" BEL "fft_core_inst/blk0000019d" BEL
        "fft_core_inst/blk0000019e" BEL "fft_core_inst/blk0000019f" BEL
        "fft_core_inst/blk000001a0" BEL "fft_core_inst/blk000001a1" BEL
        "fft_core_inst/blk000001a2" BEL "fft_core_inst/blk000001a3" BEL
        "fft_core_inst/blk000001a4" BEL "fft_core_inst/blk000001a5" BEL
        "fft_core_inst/blk000001a6" BEL "fft_core_inst/blk000001a7" BEL
        "fft_core_inst/blk000001a8" BEL "fft_core_inst/blk000001a9" BEL
        "fft_core_inst/blk000001aa" BEL "fft_core_inst/blk000001ab" BEL
        "fft_core_inst/blk000001ac" BEL "fft_core_inst/blk000001ad" BEL
        "fft_core_inst/blk000001ae" BEL "fft_core_inst/blk000001af" BEL
        "fft_core_inst/blk000001b0" BEL "fft_core_inst/blk000001b1" BEL
        "fft_core_inst/blk000001b2" BEL "fft_core_inst/blk000001b3" BEL
        "fft_core_inst/blk000001b4" BEL "fft_core_inst/blk000001b5" BEL
        "fft_core_inst/blk000001b6" BEL "fft_core_inst/blk000001ce" BEL
        "fft_core_inst/blk000001cf" BEL "fft_core_inst/blk000001d0" BEL
        "fft_core_inst/blk000001d1" BEL "fft_core_inst/blk000001d2" BEL
        "fft_core_inst/blk000001d3" BEL "fft_core_inst/blk000001d4" BEL
        "fft_core_inst/blk000001d5" BEL "fft_core_inst/blk000001f0" BEL
        "fft_core_inst/blk000001f1" BEL "fft_core_inst/blk000001f2" BEL
        "fft_core_inst/blk000001f3" BEL "fft_core_inst/blk000001f4" BEL
        "fft_core_inst/blk000001f5" BEL "fft_core_inst/blk000001f6" BEL
        "fft_core_inst/blk000001f7" BEL "fft_core_inst/blk00000212" BEL
        "fft_core_inst/blk00000213" BEL "fft_core_inst/blk00000214" BEL
        "fft_core_inst/blk00000215" BEL "fft_core_inst/blk00000216" BEL
        "fft_core_inst/blk00000217" BEL "fft_core_inst/blk00000218" BEL
        "fft_core_inst/blk00000219" BEL "fft_core_inst/blk00000234" BEL
        "fft_core_inst/blk00000235" BEL "fft_core_inst/blk00000236" BEL
        "fft_core_inst/blk00000237" BEL "fft_core_inst/blk00000238" BEL
        "fft_core_inst/blk00000239" BEL "fft_core_inst/blk0000023a" BEL
        "fft_core_inst/blk0000023b" BEL "fft_core_inst/blk00000256" BEL
        "fft_core_inst/blk00000257" BEL "fft_core_inst/blk00000258" BEL
        "fft_core_inst/blk00000259" BEL "fft_core_inst/blk0000025a" BEL
        "fft_core_inst/blk0000025b" BEL "fft_core_inst/blk0000025c" BEL
        "fft_core_inst/blk0000025d" BEL "fft_core_inst/blk00000278" BEL
        "fft_core_inst/blk00000279" BEL "fft_core_inst/blk0000027a" BEL
        "fft_core_inst/blk0000027b" BEL "fft_core_inst/blk0000027c" BEL
        "fft_core_inst/blk0000027d" BEL "fft_core_inst/blk0000027e" BEL
        "fft_core_inst/blk0000027f" BEL "fft_core_inst/blk0000029a" BEL
        "fft_core_inst/blk0000029b" BEL "fft_core_inst/blk0000029c" BEL
        "fft_core_inst/blk0000029d" BEL "fft_core_inst/blk0000029e" BEL
        "fft_core_inst/blk0000029f" BEL "fft_core_inst/blk000002a0" BEL
        "fft_core_inst/blk000002a1" BEL "fft_core_inst/blk000002bc" BEL
        "fft_core_inst/blk000002bd" BEL "fft_core_inst/blk000002be" BEL
        "fft_core_inst/blk000002bf" BEL "fft_core_inst/blk000002c0" BEL
        "fft_core_inst/blk000002c1" BEL "fft_core_inst/blk000002c2" BEL
        "fft_core_inst/blk000002c3" PIN "fft_core_inst/blk000002c7_pins<92>"
        PIN "fft_core_inst/blk000002c8_pins<92>" PIN
        "fft_core_inst/blk000002c9_pins<92>" PIN
        "fft_core_inst/blk000002ca_pins<92>" PIN
        "fft_core_inst/blk000002cb_pins<92>" PIN
        "fft_core_inst/blk000002cc_pins<92>" PIN
        "fft_core_inst/blk000002cd_pins<92>" PIN
        "fft_core_inst/blk000002ce_pins<92>" BEL "fft_core_inst/blk000002cf"
        BEL "fft_core_inst/blk000002d0" BEL "fft_core_inst/blk000002d1" BEL
        "fft_core_inst/blk000002d2" BEL "fft_core_inst/blk000002d3" BEL
        "fft_core_inst/blk000002d4" BEL "fft_core_inst/blk000002d5" BEL
        "fft_core_inst/blk000002d6" BEL "fft_core_inst/blk000002d7" BEL
        "fft_core_inst/blk000002d8" BEL "fft_core_inst/blk000002d9" BEL
        "fft_core_inst/blk000002da" BEL "fft_core_inst/blk000002db" BEL
        "fft_core_inst/blk000002dc" BEL "fft_core_inst/blk000002dd" BEL
        "fft_core_inst/blk000002de" BEL "fft_core_inst/blk000002df" BEL
        "fft_core_inst/blk000002e0" BEL "fft_core_inst/blk000002e1" BEL
        "fft_core_inst/blk000002e2" BEL "fft_core_inst/blk000002e3" BEL
        "fft_core_inst/blk000002e4" BEL "fft_core_inst/blk000002e5" BEL
        "fft_core_inst/blk000002e6" BEL "fft_core_inst/blk000002e7" BEL
        "fft_core_inst/blk000002e8" BEL "fft_core_inst/blk000002e9" BEL
        "fft_core_inst/blk000002ea" BEL "fft_core_inst/blk000002eb" BEL
        "fft_core_inst/blk000002ec" BEL "fft_core_inst/blk000002ed" BEL
        "fft_core_inst/blk000002ee" BEL "fft_core_inst/blk000002ef" BEL
        "fft_core_inst/blk000002f0" BEL "fft_core_inst/blk000002f1" BEL
        "fft_core_inst/blk000002f2" BEL "fft_core_inst/blk000002f3" BEL
        "fft_core_inst/blk000002f4" BEL "fft_core_inst/blk000002f5" BEL
        "fft_core_inst/blk000002f6" BEL "fft_core_inst/blk000002f7" BEL
        "fft_core_inst/blk000002f8" BEL "fft_core_inst/blk000002f9" BEL
        "fft_core_inst/blk000002fa" BEL "fft_core_inst/blk000002fb" BEL
        "fft_core_inst/blk000002fc" BEL "fft_core_inst/blk000002fd" BEL
        "fft_core_inst/blk000002fe" BEL "fft_core_inst/blk000002ff" BEL
        "fft_core_inst/blk00000300" BEL "fft_core_inst/blk00000301" BEL
        "fft_core_inst/blk00000302" BEL "fft_core_inst/blk00000303" BEL
        "fft_core_inst/blk00000304" BEL "fft_core_inst/blk00000305" BEL
        "fft_core_inst/blk00000306" BEL "fft_core_inst/blk00000307" BEL
        "fft_core_inst/blk00000308" BEL "fft_core_inst/blk00000309" BEL
        "fft_core_inst/blk0000030a" BEL "fft_core_inst/blk0000030b" BEL
        "fft_core_inst/blk0000030c" BEL "fft_core_inst/blk0000030d" BEL
        "fft_core_inst/blk0000030e" BEL "fft_core_inst/blk0000030f" BEL
        "fft_core_inst/blk00000310" BEL "fft_core_inst/blk00000311" BEL
        "fft_core_inst/blk00000312" BEL "fft_core_inst/blk00000313" BEL
        "fft_core_inst/blk00000314" BEL "fft_core_inst/blk00000315" BEL
        "fft_core_inst/blk00000316" BEL "fft_core_inst/blk00000317" BEL
        "fft_core_inst/blk00000318" BEL "fft_core_inst/blk00000319" BEL
        "fft_core_inst/blk0000031a" BEL "fft_core_inst/blk0000031b" BEL
        "fft_core_inst/blk0000031c" BEL "fft_core_inst/blk0000031d" BEL
        "fft_core_inst/blk0000031e" BEL "fft_core_inst/blk0000031f" BEL
        "fft_core_inst/blk00000320" BEL "fft_core_inst/blk00000321" BEL
        "fft_core_inst/blk00000322" BEL "fft_core_inst/blk00000323" BEL
        "fft_core_inst/blk00000324" BEL "fft_core_inst/blk00000325" BEL
        "fft_core_inst/blk00000326" BEL "fft_core_inst/blk00000327" BEL
        "fft_core_inst/blk00000328" BEL "fft_core_inst/blk00000329" BEL
        "fft_core_inst/blk0000032a" BEL "fft_core_inst/blk0000032b" BEL
        "fft_core_inst/blk0000032c" BEL "fft_core_inst/blk0000032d" BEL
        "fft_core_inst/blk0000032e" BEL "fft_core_inst/blk0000032f" BEL
        "fft_core_inst/blk00000330" BEL "fft_core_inst/blk00000331" BEL
        "fft_core_inst/blk00000332" BEL "fft_core_inst/blk00000333" BEL
        "fft_core_inst/blk00000334" BEL "fft_core_inst/blk00000335" BEL
        "fft_core_inst/blk00000336" BEL "fft_core_inst/blk00000337" BEL
        "fft_core_inst/blk00000358" BEL "fft_core_inst/blk00000359" BEL
        "fft_core_inst/blk0000035a" BEL "fft_core_inst/blk0000035b" BEL
        "fft_core_inst/blk0000035c" BEL "fft_core_inst/blk0000035d" BEL
        "fft_core_inst/blk0000035e" BEL "fft_core_inst/blk0000035f" BEL
        "fft_core_inst/blk00000360" BEL "fft_core_inst/blk00000361" BEL
        "fft_core_inst/blk00000362" BEL "fft_core_inst/blk00000363" BEL
        "fft_core_inst/blk00000364" BEL "fft_core_inst/blk00000365" BEL
        "fft_core_inst/blk00000366" BEL "fft_core_inst/blk00000367" BEL
        "fft_core_inst/blk00000368" BEL "fft_core_inst/blk00000369" BEL
        "fft_core_inst/blk0000036a" BEL "fft_core_inst/blk0000036b" BEL
        "fft_core_inst/blk0000036c" BEL "fft_core_inst/blk0000036d" BEL
        "fft_core_inst/blk0000036e" BEL "fft_core_inst/blk0000036f" BEL
        "fft_core_inst/blk00000370" BEL "fft_core_inst/blk00000371" BEL
        "fft_core_inst/blk00000372" BEL "fft_core_inst/blk00000373" BEL
        "fft_core_inst/blk00000374" BEL "fft_core_inst/blk00000375" BEL
        "fft_core_inst/blk00000376" BEL "fft_core_inst/blk00000377" BEL
        "fft_core_inst/blk00000378" BEL "fft_core_inst/blk00000379" BEL
        "fft_core_inst/blk0000037a" BEL "fft_core_inst/blk0000037b" BEL
        "fft_core_inst/blk0000037c" BEL "fft_core_inst/blk0000037d" BEL
        "fft_core_inst/blk0000037e" BEL "fft_core_inst/blk0000037f" BEL
        "fft_core_inst/blk000003a0" BEL "fft_core_inst/blk000003a1" BEL
        "fft_core_inst/blk000003a2" BEL "fft_core_inst/blk000003a3" BEL
        "fft_core_inst/blk000003a4" BEL "fft_core_inst/blk000003a5" BEL
        "fft_core_inst/blk000003a6" BEL "fft_core_inst/blk000003a7" BEL
        "fft_core_inst/blk000003a8" BEL "fft_core_inst/blk000003a9" BEL
        "fft_core_inst/blk000003aa" BEL "fft_core_inst/blk000003ab" BEL
        "fft_core_inst/blk000003ac" BEL "fft_core_inst/blk000003ad" BEL
        "fft_core_inst/blk000003ae" BEL "fft_core_inst/blk000003af" BEL
        "fft_core_inst/blk000003b0" BEL "fft_core_inst/blk000003b1" BEL
        "fft_core_inst/blk000003b2" BEL "fft_core_inst/blk000003b3" BEL
        "fft_core_inst/blk000003b4" BEL "fft_core_inst/blk000003b5" BEL
        "fft_core_inst/blk000003b6" BEL "fft_core_inst/blk000003b7" BEL
        "fft_core_inst/blk000003b8" BEL "fft_core_inst/blk000003b9" BEL
        "fft_core_inst/blk000003ba" BEL "fft_core_inst/blk000003bb" BEL
        "fft_core_inst/blk000003bc" BEL "fft_core_inst/blk000003bd" BEL
        "fft_core_inst/blk000003be" BEL "fft_core_inst/blk000003bf" BEL
        "fft_core_inst/blk000003c0" BEL "fft_core_inst/blk000003c1" BEL
        "fft_core_inst/blk000003c2" BEL "fft_core_inst/blk000003c3" BEL
        "fft_core_inst/blk000003c4/blk000003c5/blk000003c8" BEL
        "fft_core_inst/blk000003c4/blk000003c5/blk000003c9" BEL
        "fft_core_inst/blk000003d2" BEL "fft_core_inst/blk000003d3" BEL
        "fft_core_inst/blk000003d4" BEL "fft_core_inst/blk000003d5" BEL
        "fft_core_inst/blk000003d6" BEL "fft_core_inst/blk000003d7" BEL
        "fft_core_inst/blk000003d8" BEL "fft_core_inst/blk000003d9" BEL
        "fft_core_inst/blk000003e2" BEL "fft_core_inst/blk000003e3" BEL
        "fft_core_inst/blk000003e4" BEL "fft_core_inst/blk000003e5" BEL
        "fft_core_inst/blk000003e6" BEL "fft_core_inst/blk000003e7" BEL
        "fft_core_inst/blk000003e8" BEL "fft_core_inst/blk000003e9" BEL
        "fft_core_inst/blk000003f2" BEL "fft_core_inst/blk000003f3" BEL
        "fft_core_inst/blk000003f4" BEL "fft_core_inst/blk000003f5" BEL
        "fft_core_inst/blk000003f6" BEL "fft_core_inst/blk000003f7" BEL
        "fft_core_inst/blk000003f8" BEL "fft_core_inst/blk000003f9" BEL
        "fft_core_inst/blk00000402" BEL "fft_core_inst/blk00000403" BEL
        "fft_core_inst/blk00000404" BEL "fft_core_inst/blk00000405" BEL
        "fft_core_inst/blk00000406" BEL "fft_core_inst/blk00000407" BEL
        "fft_core_inst/blk00000408" BEL "fft_core_inst/blk00000409" BEL
        "fft_core_inst/blk00000412" BEL "fft_core_inst/blk00000413" BEL
        "fft_core_inst/blk00000414" BEL "fft_core_inst/blk00000415" BEL
        "fft_core_inst/blk00000416" BEL "fft_core_inst/blk00000417" BEL
        "fft_core_inst/blk00000418" BEL "fft_core_inst/blk00000419" BEL
        "fft_core_inst/blk00000422" BEL "fft_core_inst/blk00000423" BEL
        "fft_core_inst/blk00000424" BEL "fft_core_inst/blk00000425" BEL
        "fft_core_inst/blk00000426" BEL "fft_core_inst/blk00000427" BEL
        "fft_core_inst/blk00000428" BEL "fft_core_inst/blk00000429" BEL
        "fft_core_inst/blk00000432" BEL "fft_core_inst/blk00000433" BEL
        "fft_core_inst/blk00000434" BEL "fft_core_inst/blk00000435" BEL
        "fft_core_inst/blk00000436" BEL "fft_core_inst/blk00000437" BEL
        "fft_core_inst/blk00000438" BEL "fft_core_inst/blk00000439" BEL
        "fft_core_inst/blk00000442" BEL "fft_core_inst/blk00000443" BEL
        "fft_core_inst/blk00000444" BEL "fft_core_inst/blk00000445" BEL
        "fft_core_inst/blk00000446" BEL "fft_core_inst/blk00000447" BEL
        "fft_core_inst/blk00000448" BEL "fft_core_inst/blk00000449" BEL
        "fft_core_inst/blk0000044a/blk0000044c" BEL
        "fft_core_inst/blk0000044a/blk0000044d" BEL
        "fft_core_inst/blk0000044a/blk0000044e" BEL
        "fft_core_inst/blk0000044a/blk0000044f" BEL
        "fft_core_inst/blk0000044a/blk00000450" BEL
        "fft_core_inst/blk0000044a/blk00000451" BEL
        "fft_core_inst/blk0000044a/blk00000452" BEL
        "fft_core_inst/blk0000044a/blk00000453" BEL
        "fft_core_inst/blk0000044a/blk00000454" BEL
        "fft_core_inst/blk0000044a/blk00000455" BEL
        "fft_core_inst/blk0000044a/blk00000456" BEL
        "fft_core_inst/blk0000044a/blk00000457" BEL
        "fft_core_inst/blk0000044a/blk00000458" BEL
        "fft_core_inst/blk0000044a/blk00000459" BEL
        "fft_core_inst/blk0000044a/blk0000045a" BEL
        "fft_core_inst/blk0000044a/blk0000045b" PIN
        "fft_core_inst/blk0000044a/blk0000045c_pins<26>" PIN
        "fft_core_inst/blk0000044a/blk0000045c_pins<27>" BEL
        "fft_core_inst/blk0000045d/blk0000045f" BEL
        "fft_core_inst/blk0000045d/blk00000460" BEL
        "fft_core_inst/blk0000045d/blk00000461" BEL
        "fft_core_inst/blk0000045d/blk00000462" BEL
        "fft_core_inst/blk0000045d/blk00000463" BEL
        "fft_core_inst/blk0000045d/blk00000464" BEL
        "fft_core_inst/blk0000045d/blk00000465" BEL
        "fft_core_inst/blk0000045d/blk00000466" BEL
        "fft_core_inst/blk0000045d/blk00000467" BEL
        "fft_core_inst/blk0000045d/blk00000468" BEL
        "fft_core_inst/blk0000045d/blk00000469" BEL
        "fft_core_inst/blk0000045d/blk0000046a" BEL
        "fft_core_inst/blk0000045d/blk0000046b" BEL
        "fft_core_inst/blk0000045d/blk0000046c" BEL
        "fft_core_inst/blk0000045d/blk0000046d" BEL
        "fft_core_inst/blk0000045d/blk0000046e" PIN
        "fft_core_inst/blk0000045d/blk0000046f_pins<26>" PIN
        "fft_core_inst/blk0000045d/blk0000046f_pins<27>" BEL
        "fft_core_inst/blk00000470/blk00000472" BEL
        "fft_core_inst/blk00000470/blk00000473" BEL
        "fft_core_inst/blk00000470/blk00000474" BEL
        "fft_core_inst/blk00000470/blk00000475" BEL
        "fft_core_inst/blk00000470/blk00000476" BEL
        "fft_core_inst/blk00000470/blk00000477" BEL
        "fft_core_inst/blk00000470/blk00000478" BEL
        "fft_core_inst/blk00000470/blk00000479" BEL
        "fft_core_inst/blk00000470/blk0000047a" BEL
        "fft_core_inst/blk00000470/blk0000047b" BEL
        "fft_core_inst/blk00000470/blk0000047c" BEL
        "fft_core_inst/blk00000470/blk0000047d" BEL
        "fft_core_inst/blk00000470/blk0000047e" BEL
        "fft_core_inst/blk00000470/blk0000047f" BEL
        "fft_core_inst/blk00000470/blk00000480" BEL
        "fft_core_inst/blk00000470/blk00000481" PIN
        "fft_core_inst/blk00000470/blk00000482_pins<26>" PIN
        "fft_core_inst/blk00000470/blk00000482_pins<27>" BEL
        "fft_core_inst/blk00000483/blk00000485" BEL
        "fft_core_inst/blk00000483/blk00000486" BEL
        "fft_core_inst/blk00000483/blk00000487" BEL
        "fft_core_inst/blk00000483/blk00000488" BEL
        "fft_core_inst/blk00000483/blk00000489" BEL
        "fft_core_inst/blk00000483/blk0000048a" BEL
        "fft_core_inst/blk00000483/blk0000048b" BEL
        "fft_core_inst/blk00000483/blk0000048c" BEL
        "fft_core_inst/blk00000483/blk0000048d" BEL
        "fft_core_inst/blk00000483/blk0000048e" BEL
        "fft_core_inst/blk00000483/blk0000048f" BEL
        "fft_core_inst/blk00000483/blk00000490" BEL
        "fft_core_inst/blk00000483/blk00000491" BEL
        "fft_core_inst/blk00000483/blk00000492" BEL
        "fft_core_inst/blk00000483/blk00000493" BEL
        "fft_core_inst/blk00000483/blk00000494" PIN
        "fft_core_inst/blk00000483/blk00000495_pins<26>" PIN
        "fft_core_inst/blk00000483/blk00000495_pins<27>" BEL
        "fft_core_inst/blk00000496" BEL "fft_core_inst/blk00000497" BEL
        "fft_core_inst/blk00000498" BEL "fft_core_inst/blk00000499" BEL
        "fft_core_inst/blk0000049a" BEL "fft_core_inst/blk0000049b" BEL
        "fft_core_inst/blk0000049c" BEL "fft_core_inst/blk0000049d" BEL
        "fft_core_inst/blk0000049e" BEL "fft_core_inst/blk0000049f" BEL
        "fft_core_inst/blk000004a0" BEL "fft_core_inst/blk000004a1" BEL
        "fft_core_inst/blk000004a2" BEL "fft_core_inst/blk000004a3" BEL
        "fft_core_inst/blk000004a4" BEL "fft_core_inst/blk000004a5" BEL
        "fft_core_inst/blk000004a6" BEL "fft_core_inst/blk000004a7" BEL
        "fft_core_inst/blk000004a8" BEL "fft_core_inst/blk000004a9" BEL
        "fft_core_inst/blk000004aa" BEL "fft_core_inst/blk000004ab" BEL
        "fft_core_inst/blk000004ac" BEL "fft_core_inst/blk000004ad" BEL
        "fft_core_inst/blk000004ae" BEL "fft_core_inst/blk000004af" BEL
        "fft_core_inst/blk000004b8/blk000004b9/blk000004bc" BEL
        "fft_core_inst/blk000004b8/blk000004b9/blk000004bd" BEL
        "fft_core_inst/blk000004be/blk000004bf/blk000004c2" BEL
        "fft_core_inst/blk000004be/blk000004bf/blk000004c3" BEL
        "fft_core_inst/blk000004c4/blk000004c5/blk000004c8" BEL
        "fft_core_inst/blk000004c4/blk000004c5/blk000004c9" BEL
        "fft_core_inst/blk000004ca/blk000004cb/blk000004ce" BEL
        "fft_core_inst/blk000004ca/blk000004cb/blk000004cf" BEL
        "fft_core_inst/blk000004d0/blk000004d1/blk000004d4" BEL
        "fft_core_inst/blk000004d0/blk000004d1/blk000004d5" BEL
        "fft_core_inst/blk000004d6/blk000004d7/blk000004da" BEL
        "fft_core_inst/blk000004d6/blk000004d7/blk000004db" BEL
        "fft_core_inst/blk000004dc" BEL "fft_core_inst/blk000004dd" BEL
        "fft_core_inst/blk000004de" BEL "fft_core_inst/blk000004df" BEL
        "fft_core_inst/blk000004e1" BEL "fft_core_inst/blk000004e2" BEL
        "fft_core_inst/blk000004e3" BEL "fft_core_inst/blk000004e4" BEL
        "fft_core_inst/blk000004e5" BEL "fft_core_inst/blk000004e6" BEL
        "fft_core_inst/blk000004e7" BEL "fft_core_inst/blk000004e8" BEL
        "fft_core_inst/blk000004e9" BEL "fft_core_inst/blk000004ea" BEL
        "fft_core_inst/blk000004eb" BEL "fft_core_inst/blk000004ec" BEL
        "fft_core_inst/blk000004ed" BEL "fft_core_inst/blk000004ee" BEL
        "fft_core_inst/blk000004f0" BEL "fft_core_inst/blk000004f1" BEL
        "fft_core_inst/blk000004f2" BEL "fft_core_inst/blk000004f3" BEL
        "fft_core_inst/blk000004f4" BEL "fft_core_inst/blk000004f5" BEL
        "fft_core_inst/blk000004f6" BEL "fft_core_inst/blk000004f7" BEL
        "fft_core_inst/blk000004f8" BEL "fft_core_inst/blk000004f9" BEL
        "fft_core_inst/blk000004fa" BEL "fft_core_inst/blk000004fc" BEL
        "fft_core_inst/blk000004fe" BEL "fft_core_inst/blk000004ff" BEL
        "fft_core_inst/blk00000508" BEL "fft_core_inst/blk00000509" BEL
        "fft_core_inst/blk0000050a" BEL "fft_core_inst/blk0000050b" BEL
        "fft_core_inst/blk0000050c" BEL "fft_core_inst/blk0000050d" BEL
        "fft_core_inst/blk0000050e" BEL "fft_core_inst/blk0000050f" BEL
        "fft_core_inst/blk00000510" BEL "fft_core_inst/blk00000511" BEL
        "fft_core_inst/blk00000512" BEL "fft_core_inst/blk00000513" BEL
        "fft_core_inst/blk00000514" BEL "fft_core_inst/blk00000516" BEL
        "fft_core_inst/blk00000517" BEL "fft_core_inst/blk00000518" BEL
        "fft_core_inst/blk00000519" BEL "fft_core_inst/blk0000051a" BEL
        "fft_core_inst/blk0000051b" BEL "fft_core_inst/blk0000051c" BEL
        "fft_core_inst/blk00000524" BEL "fft_core_inst/blk00000525" BEL
        "fft_core_inst/blk00000526" BEL "fft_core_inst/blk00000527" BEL
        "fft_core_inst/blk00000528" BEL "fft_core_inst/blk00000529" BEL
        "fft_core_inst/blk0000052a" BEL "fft_core_inst/blk0000052b" BEL
        "fft_core_inst/blk0000052c" BEL "fft_core_inst/blk0000052d" BEL
        "fft_core_inst/blk0000054c" BEL "fft_core_inst/blk0000054d" BEL
        "fft_core_inst/blk0000054e" BEL "fft_core_inst/blk0000054f" BEL
        "fft_core_inst/blk00000550" BEL "fft_core_inst/blk00000551" BEL
        "fft_core_inst/blk00000552" BEL "fft_core_inst/blk0000056b" BEL
        "fft_core_inst/blk0000056c" BEL "fft_core_inst/blk0000056d" BEL
        "fft_core_inst/blk0000056e" BEL "fft_core_inst/blk0000056f" BEL
        "fft_core_inst/blk00000570" BEL "fft_core_inst/blk00000571" BEL
        "fft_core_inst/blk00000582" BEL "fft_core_inst/blk00000583" BEL
        "fft_core_inst/blk00000584" BEL "fft_core_inst/blk00000585" BEL
        "fft_core_inst/blk00000590/blk00000591/blk00000594" BEL
        "fft_core_inst/blk00000590/blk00000591/blk00000595" BEL
        "fft_core_inst/blk00000596/blk00000597/blk0000059a" BEL
        "fft_core_inst/blk00000596/blk00000597/blk0000059b" BEL
        "fft_core_inst/blk000005a2/blk000005a3/blk000005a6" BEL
        "fft_core_inst/blk000005a2/blk000005a3/blk000005a7" BEL
        "fft_core_inst/blk000005a8/blk000005a9/blk000005ac" BEL
        "fft_core_inst/blk000005a8/blk000005a9/blk000005ad" BEL
        "fft_core_inst/blk000005b4/blk000005b5/blk000005b8" BEL
        "fft_core_inst/blk000005b4/blk000005b5/blk000005b9" BEL
        "fft_core_inst/blk000005ba/blk000005bb/blk000005be" BEL
        "fft_core_inst/blk000005ba/blk000005bb/blk000005bf" BEL
        "fft_core_inst/blk000005c6" BEL "fft_core_inst/blk000005c7" BEL
        "fft_core_inst/blk000005c8" BEL "fft_core_inst/blk000005c9" BEL
        "fft_core_inst/blk000005ca" BEL "fft_core_inst/blk000005cb" BEL
        "fft_core_inst/blk000005cc" BEL "fft_core_inst/blk000005cd" BEL
        "fft_core_inst/blk000005ce" BEL "fft_core_inst/blk000005cf" BEL
        "fft_core_inst/blk000005d0" BEL "fft_core_inst/blk000005d1" BEL
        "fft_core_inst/blk000005d2" BEL "fft_core_inst/blk000005d3" BEL
        "fft_core_inst/blk000005d4" BEL "fft_core_inst/blk000005d5" BEL
        "fft_core_inst/blk000005d6" BEL "fft_core_inst/blk000005d7" BEL
        "fft_core_inst/blk000005d8" BEL "fft_core_inst/blk000005d9" BEL
        "fft_core_inst/blk000005da" BEL "fft_core_inst/blk000005db" BEL
        "fft_core_inst/blk000005dc" BEL "fft_core_inst/blk000005dd" BEL
        "fft_core_inst/blk000005de/blk000005df/blk000005e0" BEL
        "fft_core_inst/blk000005de/blk000005df/blk000005e3" BEL
        "fft_core_inst/blk000005e4/blk000005e5/blk000005e8" BEL
        "fft_core_inst/blk000005e4/blk000005e5/blk000005e9" BEL
        "fft_core_inst/blk000005ea/blk000005eb/blk000005ec" BEL
        "fft_core_inst/blk000005ea/blk000005eb/blk000005ef" BEL
        "fft_core_inst/blk000005f0" BEL "fft_core_inst/blk000005f1" BEL
        "fft_core_inst/blk000005f2" BEL "fft_core_inst/blk000005f3" BEL
        "fft_core_inst/blk000005f4" BEL "fft_core_inst/blk000005f5" BEL
        "fft_core_inst/blk000005f6" BEL "fft_core_inst/blk000005f7" BEL
        "fft_core_inst/blk000005f8" BEL "fft_core_inst/blk000005f9" BEL
        "fft_core_inst/blk000005fa" BEL "fft_core_inst/blk000005fb" BEL
        "fft_core_inst/blk000005fc" BEL "fft_core_inst/blk000005fd" BEL
        "fft_core_inst/blk000005fe" BEL "fft_core_inst/blk000005ff" BEL
        "fft_core_inst/blk00000603" BEL "fft_core_inst/blk00000604" BEL
        "fft_core_inst/blk00000605" BEL "fft_core_inst/blk00000606" BEL
        "fft_core_inst/blk00000607" BEL "fft_core_inst/blk00000608" BEL
        "fft_core_inst/blk00000609" BEL "fft_core_inst/blk0000060a" BEL
        "fft_core_inst/blk0000060b" BEL "fft_core_inst/blk0000060c" BEL
        "fft_core_inst/blk0000060d" BEL "fft_core_inst/blk0000060e" BEL
        "fft_core_inst/blk0000060f" BEL "fft_core_inst/blk00000610" BEL
        "fft_core_inst/blk00000611" BEL "fft_core_inst/blk00000612" BEL
        "fft_core_inst/blk00000613" BEL "fft_core_inst/blk00000614" BEL
        "fft_core_inst/blk00000615" BEL "fft_core_inst/blk00000616" BEL
        "fft_core_inst/blk00000617" BEL "fft_core_inst/blk00000618" BEL
        "fft_core_inst/blk00000619" BEL "fft_core_inst/blk0000061a" BEL
        "fft_core_inst/blk0000061b" BEL "fft_core_inst/blk0000061c" BEL
        "fft_core_inst/blk0000061d" BEL "fft_core_inst/blk0000061e" BEL
        "fft_core_inst/blk0000061f" BEL "fft_core_inst/blk00000621" BEL
        "fft_core_inst/blk00000622" BEL "fft_core_inst/blk00000623" BEL
        "fft_core_inst/blk00000624" BEL "fft_core_inst/blk00000625" BEL
        "fft_core_inst/blk00000626" BEL "fft_core_inst/blk00000627" BEL
        "fft_core_inst/blk00000628" BEL
        "fft_core_inst/blk00000629/blk00000638" BEL
        "fft_core_inst/blk00000629/blk00000639" BEL
        "fft_core_inst/blk00000629/blk0000063a" BEL
        "fft_core_inst/blk00000629/blk0000063b" BEL
        "fft_core_inst/blk00000629/blk0000063c" BEL
        "fft_core_inst/blk00000629/blk0000063d" BEL
        "fft_core_inst/blk00000649" BEL "fft_core_inst/blk0000064a" BEL
        "fft_core_inst/blk0000064b" BEL "fft_core_inst/blk0000064c" BEL
        "fft_core_inst/blk00000653" BEL "fft_core_inst/blk00000654" BEL
        "fft_core_inst/blk00000655" BEL "fft_core_inst/blk00000656" BEL
        "fft_core_inst/blk00000657" BEL "fft_core_inst/blk00000658" BEL
        "fft_core_inst/blk0000065f" BEL "fft_core_inst/blk00000660" BEL
        "fft_core_inst/blk00000661" BEL "fft_core_inst/blk00000662" BEL
        "fft_core_inst/blk00000663" BEL "fft_core_inst/blk00000664" BEL
        "fft_core_inst/blk0000066b" BEL "fft_core_inst/blk0000066c" BEL
        "fft_core_inst/blk0000066d" BEL "fft_core_inst/blk0000066e" BEL
        "fft_core_inst/blk0000066f" BEL "fft_core_inst/blk00000670" BEL
        "fft_core_inst/blk00000677" BEL "fft_core_inst/blk00000678" BEL
        "fft_core_inst/blk00000679" BEL "fft_core_inst/blk00000680" BEL
        "fft_core_inst/blk00000681" BEL "fft_core_inst/blk00000682" BEL
        "fft_core_inst/blk00000689" BEL "fft_core_inst/blk0000068a" BEL
        "fft_core_inst/blk0000068b" BEL "fft_core_inst/blk0000068c" BEL
        "fft_core_inst/blk0000068d" BEL "fft_core_inst/blk0000068e" BEL
        "fft_core_inst/blk00000695" BEL "fft_core_inst/blk00000696" BEL
        "fft_core_inst/blk00000697" BEL "fft_core_inst/blk00000698" BEL
        "fft_core_inst/blk00000699" BEL "fft_core_inst/blk0000069a" BEL
        "fft_core_inst/blk000006a1" BEL "fft_core_inst/blk000006a2" BEL
        "fft_core_inst/blk000006a3" BEL "fft_core_inst/blk000006a4" BEL
        "fft_core_inst/blk000006a5" BEL "fft_core_inst/blk000006a6" BEL
        "fft_core_inst/blk000006ad" BEL "fft_core_inst/blk000006ae" BEL
        "fft_core_inst/blk000006af" BEL "fft_core_inst/blk000006b0" BEL
        "fft_core_inst/blk000006b1" BEL "fft_core_inst/blk000006b2" BEL
        "fft_core_inst/blk000006b9" BEL "fft_core_inst/blk000006ba" BEL
        "fft_core_inst/blk000006bb" BEL "fft_core_inst/blk000006bc" BEL
        "fft_core_inst/blk000006bd" BEL "fft_core_inst/blk000006be" BEL
        "fft_core_inst/blk000006c5" BEL "fft_core_inst/blk000006c6" BEL
        "fft_core_inst/blk000006c7" BEL "fft_core_inst/blk000006ce" BEL
        "fft_core_inst/blk000006cf" BEL "fft_core_inst/blk000006d0" BEL
        "fft_core_inst/blk000006d1" BEL "fft_core_inst/blk000006d2" BEL
        "fft_core_inst/blk000006d3" BEL "fft_core_inst/blk000006da" BEL
        "fft_core_inst/blk000006db" BEL "fft_core_inst/blk000006dc" BEL
        "fft_core_inst/blk000006dd" BEL "fft_core_inst/blk000006de" BEL
        "fft_core_inst/blk000006df" BEL "fft_core_inst/blk000006e0" BEL
        "fft_core_inst/blk000006e1" BEL "fft_core_inst/blk000006e2" BEL
        "fft_core_inst/blk000006e9" BEL "fft_core_inst/blk000006ea" BEL
        "fft_core_inst/blk000006eb" BEL "fft_core_inst/blk000006ec" BEL
        "fft_core_inst/blk000006ed" BEL "fft_core_inst/blk000006ee" BEL
        "fft_core_inst/blk000006ef" BEL "fft_core_inst/blk000006f0" BEL
        "fft_core_inst/blk000006f1" BEL "fft_core_inst/blk000006f2" BEL
        "fft_core_inst/blk000006f3" BEL "fft_core_inst/blk000006f4" BEL
        "fft_core_inst/blk000006f5" BEL "fft_core_inst/blk000006f6" BEL
        "fft_core_inst/blk000006f9" BEL "fft_core_inst/blk000006fa" BEL
        "fft_core_inst/blk000006fb" BEL "fft_core_inst/blk000006fc" BEL
        "fft_core_inst/blk000006fd" BEL "fft_core_inst/blk000006fe" BEL
        "fft_core_inst/blk00000723/blk00000724/blk00000727" BEL
        "fft_core_inst/blk00000723/blk00000724/blk00000728" BEL
        "fft_core_inst/blk00000723/blk00000724/blk00000729" BEL
        "fft_core_inst/blk00000723/blk00000724/blk0000072a" BEL
        "fft_core_inst/blk00000723/blk00000724/blk0000072b" BEL
        "fft_core_inst/blk00000723/blk00000724/blk0000072c" BEL
        "fft_core_inst/blk00000723/blk00000724/blk0000072d" BEL
        "fft_core_inst/blk00000723/blk00000724/blk0000072e" BEL
        "fft_core_inst/blk00000723/blk00000724/blk0000072f" BEL
        "fft_core_inst/blk00000723/blk00000724/blk00000730" BEL
        "fft_core_inst/blk00000723/blk00000724/blk00000731" BEL
        "fft_core_inst/blk00000723/blk00000724/blk00000732" BEL
        "fft_core_inst/blk00000733/blk00000734/blk00000737" BEL
        "fft_core_inst/blk00000733/blk00000734/blk00000738" BEL
        "fft_core_inst/blk00000733/blk00000734/blk00000739" BEL
        "fft_core_inst/blk00000733/blk00000734/blk0000073a" BEL
        "fft_core_inst/blk00000733/blk00000734/blk0000073b" BEL
        "fft_core_inst/blk00000733/blk00000734/blk0000073c" BEL
        "fft_core_inst/blk00000733/blk00000734/blk0000073d" BEL
        "fft_core_inst/blk00000733/blk00000734/blk0000073e" BEL
        "fft_core_inst/blk00000733/blk00000734/blk0000073f" BEL
        "fft_core_inst/blk00000733/blk00000734/blk00000740" BEL
        "fft_core_inst/blk00000733/blk00000734/blk00000741" BEL
        "fft_core_inst/blk00000733/blk00000734/blk00000742" BEL
        "fft_core_inst/blk00000743/blk00000744/blk00000747" BEL
        "fft_core_inst/blk00000743/blk00000744/blk00000748" BEL
        "fft_core_inst/blk00000743/blk00000744/blk00000749" BEL
        "fft_core_inst/blk00000743/blk00000744/blk0000074a" BEL
        "fft_core_inst/blk00000743/blk00000744/blk0000074b" BEL
        "fft_core_inst/blk00000743/blk00000744/blk0000074c" BEL
        "fft_core_inst/blk00000743/blk00000744/blk0000074d" BEL
        "fft_core_inst/blk00000743/blk00000744/blk0000074e" BEL
        "fft_core_inst/blk00000743/blk00000744/blk0000074f" BEL
        "fft_core_inst/blk00000743/blk00000744/blk00000750" BEL
        "fft_core_inst/blk00000743/blk00000744/blk00000751" BEL
        "fft_core_inst/blk00000743/blk00000744/blk00000752" BEL
        "fft_core_inst/blk00000753/blk00000754/blk00000757" BEL
        "fft_core_inst/blk00000753/blk00000754/blk00000758" BEL
        "fft_core_inst/blk00000753/blk00000754/blk00000759" BEL
        "fft_core_inst/blk00000753/blk00000754/blk0000075a" BEL
        "fft_core_inst/blk00000753/blk00000754/blk0000075b" BEL
        "fft_core_inst/blk00000753/blk00000754/blk0000075c" BEL
        "fft_core_inst/blk00000753/blk00000754/blk0000075d" BEL
        "fft_core_inst/blk00000753/blk00000754/blk0000075e" BEL
        "fft_core_inst/blk00000753/blk00000754/blk0000075f" BEL
        "fft_core_inst/blk00000753/blk00000754/blk00000760" BEL
        "fft_core_inst/blk00000753/blk00000754/blk00000761" BEL
        "fft_core_inst/blk00000753/blk00000754/blk00000762" BEL
        "fft_core_inst/blk00000763" BEL "fft_core_inst/blk00000764" BEL
        "fft_core_inst/blk00000765" BEL "fft_core_inst/blk00000766" BEL
        "fft_core_inst/blk00000767" BEL "fft_core_inst/blk00000768" BEL
        "fft_core_inst/blk00000769" BEL "fft_core_inst/blk0000076a" BEL
        "fft_core_inst/blk0000076b" BEL "fft_core_inst/blk0000076c" BEL
        "fft_core_inst/blk0000076d" BEL "fft_core_inst/blk0000076e" BEL
        "fft_core_inst/blk0000076f" BEL "fft_core_inst/blk00000770" BEL
        "fft_core_inst/blk00000771" BEL "fft_core_inst/blk00000772" BEL
        "fft_core_inst/blk00000773" BEL "fft_core_inst/blk00000774" BEL
        "fft_core_inst/blk00000775" BEL "fft_core_inst/blk00000776" BEL
        "fft_core_inst/blk00000777" BEL "fft_core_inst/blk00000778" BEL
        "fft_core_inst/blk00000779" BEL "fft_core_inst/blk0000077a" BEL
        "fft_core_inst/blk0000077b" BEL "fft_core_inst/blk0000077c" BEL
        "fft_core_inst/blk0000077d" BEL "fft_core_inst/blk0000077e" BEL
        "fft_core_inst/blk0000077f" BEL "fft_core_inst/blk00000780" BEL
        "fft_core_inst/blk00000781" BEL "fft_core_inst/blk00000782" BEL
        "fft_core_inst/blk00000783" BEL "fft_core_inst/blk00000784" BEL
        "fft_core_inst/blk00000785" BEL "fft_core_inst/blk00000786" BEL
        "fft_core_inst/blk00000787" BEL "fft_core_inst/blk00000788" BEL
        "fft_core_inst/blk00000789" BEL "fft_core_inst/blk0000078a" BEL
        "fft_core_inst/blk0000078b" BEL "fft_core_inst/blk0000078c" BEL
        "fft_core_inst/blk0000078d" BEL "fft_core_inst/blk0000078e" BEL
        "fft_core_inst/blk0000078f" BEL "fft_core_inst/blk00000790" BEL
        "fft_core_inst/blk00000791" BEL "fft_core_inst/blk00000792" BEL
        "fft_core_inst/blk00000793" BEL "fft_core_inst/blk00000794" BEL
        "fft_core_inst/blk00000795" BEL "fft_core_inst/blk00000796" BEL
        "fft_core_inst/blk00000797" BEL "fft_core_inst/blk00000798" BEL
        "fft_core_inst/blk00000803" BEL "fft_core_inst/blk00000804" BEL
        "fft_core_inst/blk00000805" BEL "fft_core_inst/blk00000806" BEL
        "fft_core_inst/blk00000807" BEL "fft_core_inst/blk00000808" BEL
        "fft_core_inst/blk00000809" BEL "fft_core_inst/blk0000080a" BEL
        "fft_core_inst/blk0000080b" BEL "fft_core_inst/blk0000080c" BEL
        "fft_core_inst/blk0000080d" BEL "fft_core_inst/blk0000080e" BEL
        "fft_core_inst/blk0000080f" PIN "fft_core_inst/blk00000849_pins<20>"
        PIN "fft_core_inst/blk00000849_pins<21>" PIN
        "fft_core_inst/blk0000084a_pins<20>" PIN
        "fft_core_inst/blk0000084a_pins<21>" PIN
        "fft_core_inst/blk0000084b_pins<20>" PIN
        "fft_core_inst/blk0000084b_pins<21>" BEL "fft_core_inst/blk0000088c"
        BEL "fft_core_inst/blk0000088d" BEL "fft_core_inst/blk0000088e" BEL
        "fft_core_inst/blk0000088f" BEL "fft_core_inst/blk00000890" BEL
        "fft_core_inst/blk00000891" BEL "fft_core_inst/blk00000892" BEL
        "fft_core_inst/blk00000893" BEL "fft_core_inst/blk00000894" BEL
        "fft_core_inst/blk00000895" BEL "fft_core_inst/blk00000896" BEL
        "fft_core_inst/blk00000897" BEL "fft_core_inst/blk00000898" BEL
        "fft_core_inst/blk00000899" PIN
        "multiplier_inst/blk00000001/blk00000004_pins<92>";
PIN
        vga_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>
        = BEL
        "vga_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKBRDCLK;
TIMEGRP dcm_inst_clkout2 = BEL "blue_in_0" BEL "dcm_inst/clkout3_buf" BEL
        "vga_instance/v_counter_9" BEL "vga_instance/v_counter_8" BEL
        "vga_instance/v_counter_7" BEL "vga_instance/v_counter_6" BEL
        "vga_instance/v_counter_5" BEL "vga_instance/v_counter_4" BEL
        "vga_instance/v_counter_3" BEL "vga_instance/v_counter_2" BEL
        "vga_instance/v_counter_1" BEL "vga_instance/v_counter_0" BEL
        "vga_instance/h_counter_9" BEL "vga_instance/h_counter_8" BEL
        "vga_instance/h_counter_7" BEL "vga_instance/h_counter_6" BEL
        "vga_instance/h_counter_5" BEL "vga_instance/h_counter_4" BEL
        "vga_instance/h_counter_3" BEL "vga_instance/h_counter_2" BEL
        "vga_instance/h_counter_1" BEL "vga_instance/h_counter_0" BEL
        "vga_instance/hs" BEL "vga_instance/vs" BEL "vga_instance/y_pos_9" BEL
        "vga_instance/y_pos_8" BEL "vga_instance/y_pos_7" BEL
        "vga_instance/y_pos_6" BEL "vga_instance/y_pos_5" BEL
        "vga_instance/y_pos_4" BEL "vga_instance/y_pos_3" BEL
        "vga_instance/y_pos_2" BEL "vga_instance/y_pos_1" BEL
        "vga_instance/y_pos_0" BEL "vga_instance/x_pos_9" BEL
        "vga_instance/x_pos_8" BEL "vga_instance/x_pos_7" BEL
        "vga_instance/x_pos_6" BEL "vga_instance/x_pos_5" BEL
        "vga_instance/x_pos_4" BEL "vga_instance/x_pos_3" BEL
        "vga_instance/x_pos_2" BEL "vga_instance/x_pos_1" BEL
        "vga_instance/x_pos_0" PIN
        "vga_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>";
PIN
        adc_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<26>
        = BEL
        "adc_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKAWRCLK;
TIMEGRP dcm_inst_clkout5 = BEL "adc_ram_in_addr_0" BEL "adc_ram_in_addr_1" BEL
        "adc_ram_in_addr_2" BEL "adc_ram_in_addr_3" BEL "adc_ram_in_addr_4"
        BEL "adc_ram_in_addr_5" BEL "adc_ram_in_addr_6" BEL
        "adc_ram_in_addr_7" BEL "dcm_inst/clkout6_buf" PIN
        "adc_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<26>";
PIN
        adc_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>
        = BEL
        "adc_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKBRDCLK;
PIN
        fft_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<26>
        = BEL
        "fft_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKAWRCLK;
PIN
        fft_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>
        = BEL
        "fft_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKBRDCLK;
PIN
        vga_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<26>
        = BEL
        "vga_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram"
        PINNAME CLKAWRCLK;
TIMEGRP dcm_inst_clkout1 = BEL "dcm_inst/clkout2_buf" PIN
        "adc_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>"
        PIN
        "fft_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<26>"
        PIN
        "fft_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<27>"
        PIN
        "vga_ram_inst/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.WIDE_PRIM9.ram_pins<26>";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN dcm_inst/pll_base_inst/PLL_ADV_pins<2> = BEL
        "dcm_inst/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
TIMEGRP sys_clk_pin = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "dcm_inst/pll_base_inst/PLL_ADV_pins<2>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
TS_dcm_inst_clkout1 = PERIOD TIMEGRP "dcm_inst_clkout1" TS_sys_clk_pin * 0.5
        PHASE 10 ns HIGH 50%;
TS_dcm_inst_clkout5 = PERIOD TIMEGRP "dcm_inst_clkout5" TS_sys_clk_pin * 0.04
        PHASE 125 ns HIGH 50%;
TS_dcm_inst_clkout0 = PERIOD TIMEGRP "dcm_inst_clkout0" TS_sys_clk_pin * 0.5
        HIGH 50%;
TS_dcm_inst_clkout2 = PERIOD TIMEGRP "dcm_inst_clkout2" TS_sys_clk_pin * 0.25
        HIGH 50%;
SCHEMATIC END;

